* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #1a1a1a;
    border-bottom: 1px solid #313131;
}

header h1 {
    font-weight: 400;
}

main {
    padding: 50px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section h2 {
    font-weight: 400;
}

#canciones ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.cancion {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 12px;
    background-color: #1a1a1a;
    border-radius: 10px;
}

.cancion img {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    background-color: #313131;
}

.cancion .info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
}

.cancion h3 {
    font-size: 17px;
    font-weight: 400;
}

.cancion p,
.cancion span {
    font-size: 15px;
    font-weight: 200;
    color: #b3b3b3;
}
